fastapi
uvicorn[standard]
langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
groq
sqlalchemy
psycopg2-binary
chromadb
pydantic-settings
python-multipart
psycopg
psycopg2-binary
psycopg[binary]
tavily-python
langgraph
pymupdf
sentence-transformers
networkx
httpx
